<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mapper.UserMapper">

    <select id="getUserById" resultType="com.example.test.model.User">
        SELECT id, name, address, phone_number
        FROM users
        WHERE id = #{id}
    </select>

    <select id="getUserByUsername" resultType="com.example.test.model.User">
        SELECT id, name, address, phone_number as phoneNumber
        FROM users
        WHERE name = #{name}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users(name, address, phone_number)
        VALUES(#{name}, #{address}, #{phoneNumber})
    </insert>

    <update id="updateUser">
        UPDATE users
        SET name=#{name}, address=#{address}, phone_number=#{phoneNumber}
        WHERE id=#{id}
    </update>

    <delete id="deleteUser">
        DELETE FROM users WHERE id = #{id}
    </delete>

</mapper>